<header class="" style="position:fixed;width:100%">
	<div class="container">
		<div class="navbar-header" role="navigation">
			 <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" style="background-color:#5599FF">
				<span class="sr-only" style="background-color:white">Toggle navigation</span>
				<span class="icon-bar" style="background-color:white"></span>
				<span class="icon-bar" style="background-color:white" ></span>
				<span class="icon-bar" style="background-color:white"></span>
			</button>
			<span class="icon icon--github"></span>
			<a class="navbar-brand" href="/" style="color:#33FFFF ">Home</a>
		</div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav nav-pills" >
				{%for my_pages in site.pages%}
					{%if my_pages%}
						<li><a href="{{ my_pages.url | prepend: site.baseurl }}" style="color:#33FFFF ">{{my_pages.title}}</a></li>
					{%endif%}
				{%endfor%}
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<a class="site-title" style="color:#FFDDAA" href="{{ site.baseurl }}/">{{ site.title }}</a>
			</ul>
		</div>
		<span class="octicon octicon-mark-github"></span>
	</div>
	
	

</header>
<main class="bs-docs-masthead"style="">
	  <img src="/assets/images/bg.jpg" style="width:100%">
</main>