<header class="" style="position:fixed;width:100%">
	<div class="container">
		<div class="navbar-header" role="navigation">
			 <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" style="background-color:#5599FF">
				<span class="sr-only" style="background-color:white">Toggle navigation</span>
				<span class="icon-bar" style="background-color:white"></span>
				<span class="icon-bar" style="background-color:white" ></span>
				<span class="icon-bar" style="background-color:white"></span>
			</button>
			<div>
			<span class="icon icon--github"></span>
			
			<a class="navbar-brand" href="/" style="color:#33FFFF ">Home</a>
			{% if site.github_username %}
					<a class="site-title phone-logo hover"  href="https://github.com/{{ site.github_username }}"><i class="icon-github"></i>{{ site.title }}</a>
			{% endif %}
			</div>
		</div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav nav-pills nav-move" >
				{%for my_pages in site.pages%}
					{%if my_pages%}
						<li><a href="{{ my_pages.url | prepend: site.baseurl }}" class="nav-con " style="color: #666666">{{my_pages.title}}</a></li>
					{%endif%}
				{%endfor%}
			</ul>
			<ul class="nav navbar-nav navbar-right " >
			{% if site.github_username %}
				<span class="line-before">
					<i class="line"></i>
				</span>
					<a class="site-title hover"  href="https://github.com/{{ site.github_username }}"><i class="icon-github"></i>{{ site.title }}</a>
				<span class="line-after">
					<i class="line"></i>
				</span>
			{% endif %}
			</ul>
		</div>
		<span class="octicon octicon-mark-github"></span>
	</div>
</header>
<div class="jumbotron" style="background:url('/assets/images/bg.jpg') no-repeat center center  ;width:100%;height:100%;background-size:cover;">
	 <div class="container " style="height:400px" >
	 	<h1 class="jumb-move">Hello, world!</h1>
	 	{%for description in site.description%}
	 		{%if description%}
	 	 		<p class="jumb-move2">{{description}}</p>
	 	 	{%endif%}
	 	 {%endfor%}

	 </div>	
</div>