<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="container ">
        {{ content }}
        <div class="seach" style="float: left;">
          <div class="search-tool" >
            <input type="text" class="form-control search-content" id="search-content"  placeholder="文章标题 日期 标签">
          </div>
        </div>
	  </div>

    </div>

    <link rel="stylesheet" href="{{ "/search/css/cb-search.css" | prepend: site.baseurl }}">

    <script src="{{ "/search/js/bootstrap3-typeahead.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/search/js/cb-search.js" | prepend: site.baseurl }}"></script>

    {% include footer.html %}

  </body>

</html>
